<div class="articlePosts">
  <article id="post">
    <h1 class="postTitle">{{title}}</h1>
    <p class="postAuthor">By <a href="{{authorUrl}}">{{author}}</a> published on {{publishedOn}} (about {{age}} days ago)</p>
    <p class="postCategory">Category: {{category}}</p>
    <div class="postBody">{{{body}}}</div>
    <a href="#" class="read-on">Show/Hide</a>
  </article>
</div>
